MYSQL_DATABASE=meeting_room_db
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:5173
DEFAULT_FROM_EMAIL=no-reply@meeting-room.local
BUSINESS_START_HOUR=8
BUSINESS_END_HOUR=20
SLOT_MINUTES=30
